# === KLIPPER-BACKUP ===
# Version: 1.0
#
# Manuell GitHub-backup via kommandot UPDATE_GIT.
# Kräver G-Code Shell Command Extension.

# === UPDATE_GIT MACRO ===
[gcode_macro UPDATE_GIT]
description: Create Klipper-Backup GitHub backup
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

# === SHELL COMMAND - STANDARD BACKUP ===
[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

# === SHELL COMMAND - BACKUP WITH MESSAGE ===
[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True
